.banner_card{
    width: 48%;
    float: left;
    text-align: left; 
    line-height: 80px;
    margin-left: 2%;
}
.signup_card{
    width: 50%;
    float: right;
}
.signin_card{
    width: 50%;
    float: right;
    margin-top: 2%;
}
.form_card{
    margin-top: 8%;
    box-shadow: 0 0 15px grey;
    width: 60%;
    height: auto;
    margin-left: 20%;
    padding: 10px;
    border-radius: 7px;
}
.form_card p{
    font-size: 14px;
    color: orangered;
}
.banner_content{
    margin-top: 8%;
    font-size: 20px;
    margin-left: 22%;
    line-height: 35px;
}
.banner_header{
    margin-top: 8%;
    font-size: 50px;
}
.form_card input{
    background-color:  #141d26;
    color: white;
    width: 75%;
    padding: 5px;
    margin: 4%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
input::placeholder{
    font-family: 'Montserrat', sans-serif;
}
.form_card button{
    margin-top: 4%;
    width: 79%;
    padding: 10px;
    background-color: lightgreen;
    font-size: 15px;
    border-color: white;
    border-color: lightgreen;
    font-family: 'Montserrat', sans-serif;
}
.accounts_link{
    margin-top: 9%;
    margin-bottom: 6%;
}
.accounts_div{
    font-family: 'Montserrat', sans-serif;
}