.new_controller{
    font-family: 'Montserrat', sans-serif;
    margin-top: 2.7%;
    float: left;
}
.new_controller input{
    margin-top:2.5%;
    padding: 7px;
    font-size: 15px;
    background-color: #141d26;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.new_controller button{
    padding: 7px;
    font-size: 15px;
    background-color: lightgreen;
    color: black;
    margin-top: 2.5%;
    margin-left: 20px;
}
.all_controllers{
    margin-top: 3.4%;
    float: left;
    width: 75%;
}
.all_controllers  i{
    color: gray;
}


.controller_card{
    float: left;
    padding: 2%;
    font-size: 14px;
}
.controller_card i{
    color: lightslategray;
    font-size: 140px;
}
.controller_method_div{
    width: 75%;
    float: left;
    margin-top: 3%
}
.method_div{
    width: 20%;
    height: 20%;
    background-color: gray;
    text-align: center;
    margin-left: 10%;
    margin-top: 4%;
    padding: 28px;
    float: left;
    color: white;
    font-weight: bold;
    background-color: gray;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

.delete_div{
    widows: 75%;
    float: left;
    margin-top: 4%;
}
.delete_div table{
    margin-top: 2%;
}
.del_msg_div{
    width: 100%;
    margin-left: 11%;
    margin-top: 2%;
}
.del_msg_div button{
    padding: 7px;
    font-size: 15px;
    margin-left: 11%;
    margin-top: 5%;
}