.side_bar{
    width: 25%;
    float: left;
}
.side_bar a{
    float: left;
    clear: left;
    margin-left: 20%;
    margin-top: 14%;
    text-decoration: none;
}

.project_list{
    width: 75%;
    float: right;
    height: 100%;
    margin-top: 0.85%;
}
.api_div{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.header_div{
    width: 100%;
    float: left;
}
.title_div{
    width: 45%;
    float: left;
    font-size: 25px;
    text-align: left;
    padding-left: 2.5%;
}
.username_div{
    width: 44%;
    padding: 3px;
    float: left;
    text-align: right;
}
.new_project_div{
    margin-top: 3.7%;
}
.new_project_div p{
    color: orangered;
    margin-left: 3%;
}
.new_project_div input{
    font-family: 'Montserrat', sans-serif;
    background-color: #141d26;
    color: white;
    margin-top: 2.5%;
    font-size: 15px;
    padding: 7px;
}
input::placeholder{
    font-family:  'Montserrat', sans-serif;
}
.new_project_div button{
    margin-left: 1%;
    padding: 7px;
    font-size: 15px;
    background-color: lightgreen;
    border-color: lightgreen;
}
.project_list_div{
    margin-top: 5%;
}
.project_list_section{
    margin-top: 0%;
}
.project_card{
    float: left;
    padding: 2%;
    font-size: 14px;
}
.project_card i{
    color: yellow;
    font-size: 140px;
}
.server_div{
    width: 100%;
    bottom: 0;
}

