.content_card{
    width: 60%;
    float: left;
    margin-top: 10%;
}
.img_card{
    width: 39%;
    float: left;
    margin-top: 11%;
    margin-left: 1%;
}
.img_card img{
    width: 500px;
    height: 400px;
}
.top_header{
    font-family: 'Montserrat', sans-serif;
}
.head_content{
    margin-left: 5%;
    font-size: 60px;
    font-weight: bolder;
}
.description_content{
    margin-left: 13%;
    margin-top: 5%;
    font-size: 25px;
    line-height: 45px;
    font-weight: lighter;
}
.home_header_div{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.home_header_title{
    width: 46%;
    float: left;
    font-size: 25px;
    margin-left: 4%;
}
.home_header_accounts{
    width: 40%;
    text-align: right;
    float: left;
}
.home_header_accounts button{
    font-family: 'Montserrat', sans-serif;
    margin-right: 5%;
    border-color: white;
    margin-top: 0%;
    font-size: 15px;
    background-color: white;
    padding: 5px;
}