.model_section_div{
    width: 75%;
    float: right;
    height: 100%;
}
.model_card{
    float: left;
    padding: 2%;
    font-size: 14px;
}
.model_card i{
    color: lightslategray;
    font-size: 140px;
}
.project_edit_div{
    width: 50%;
    float: left;
    margin-top: 3.6%;
}
.project_edit_div input{
    font-family: 'Montserrat', sans-serif;
    padding: 7px;
    font-size: 15px;
    color: white;
    background-color: #141d26;
}
.project_edit_div button{
    font-family: 'Montserrat', sans-serif;
    background-color: lightgreen;
    font-size: 15px;
    padding: 7px;
}
.project_detail_div{
    width: 25%;
    margin-top: 5%;
    float: left;
}
.project_detail_div i{
    color: yellow;
    font-size: 230px;
}
.mc_div{
    margin-top: 9.7%;
}
.mc_detail_div{
    margin-top: 8.5%;
    text-align: center;
    width: 25%;
    float: left;
    padding: 20px;
    border-style: solid;
    margin-left: 9%;
    border-color: yellow;
    border-radius: 50px;
    font-size: 20px;
}
.project_delete_div{
    width: 50%;
    margin-top: 35%;
}
.project_delete_div button{
    background-color: red;
    color:white;
    margin-left: 20%;
}
.delete_msg_div p{
    margin-left: 10%;
    color: white;
}
.delete_msg_div button{
    float: right;
    margin-right: 7%;   
}
.mc_detail{
    text-align: center;
    float: left;
    margin-left: 10%;
    margin-top: 3%;
}
.mc_detail i{
    color: gray;
    font-size: 140px;
}