.schema_card{
    width: 10%;
    height:10%;
    border-style: solid;
    border-color: red;
    padding: 15px;
    font-family:  'Montserrat', sans-serif;
    float: left;
}
.schema_card input{
    font-family: 'Montserrat', sans-serif;
}
.schema_card_head input{
    background-color: #141d26;
    color: white;
    width: 80%;
    padding: 5px;
    font-size: 15px;
    text-align: center;
}
.schema_card_head select{
    background-color: #141d26;
    color: white;
    margin-top: 10%;
    font-size: 15px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10%;
}
.schema_card_body input{
    width: 40%;
    margin-top: 5%;
}
.add_card{
    padding-top: 3%;
}
.add_card i{
    font-size: 100px;
}
.freeze_button{
    text-align: center;
    margin-top: 9%;
}
.freeze_button button{
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    background-color: red;
    color: white;
}
.schema_section{
    margin-top: 10%;
}
.schema_nav{
    margin-top: 1%;
    width: 100%;
}
.schema_nav_back{
    width: 11%;
    text-align: center;
    float: left;
}
.schema_nav_left_header{
    text-align: center;
    width: 44%;
    float: left;
}
.schema_nav_right_header{
    text-align: center;
    width: 45%;
    float: left;
}
