.header_div{
    width: 95%;
    margin-left: 3%;
    margin-top: 1%;
    font-size: 20px;
}
.test_div{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.test_input{
    margin-left: 3%;
    padding-top: 6%;
    font-size: 20px;
}
.test_input select{
    background-color: #141d26;
    color: white;
    padding: 5px;
    font-size: 15px;
}
.test_input option{
    margin: 30px;
    font-size: 15px;
}
.test_input input{
    background-color: #141d26;
    color: white;
    padding: 5px;
    font-size: 15px;
    width: 80.5%;
    margin-left: 2%;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.test_input button{
    padding: 5px;
    font-size: 15px;
    background-color: #141d26;
    color: white;
    margin-left: 2%;
}
.req_sec{
    width: 40%;
    height: 50%;
    float: left;
}
.res_sec{
    width: 40%;
    height: 50%;
    float: left;
}
.req_sec textarea{
    margin-left: 7%;
    margin-top: 10%;
}
.res_sec textarea{
    margin-left: 30%;
    margin-top: 10%;
}
.test_div textarea{
    background-color: #141d26;
    color: white;
}
.test_div textarea::placeholder{
    font-size: 40px;
    padding-top: 30%;
    padding-left: 22%;
}