.workflow_div{
    width: 100%;
    float: left;
    text-align: center;
}
.widget{
    cursor: grab;
    padding: 5px;
    background-color: gray;
    display: inline;
    margin: 4%;
    float: left;
}
.widget_div{
    width: 25%;
    float: left;
    margin-top: 3%;
}
.build_div{
    width: 50%;
    float: left;
    margin-top: 3%;
}
.dao_div{
    width: 20%;
    margin-left: 3%;
    float: left;
    margin-top: 3%;
}
.ind_widget{
    width: 98%;
    text-align:left;
    padding: 2%;
    margin-top: 2%;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    float: left;
}
.ind_widget input{
    width: 15%;margin: 1%;
    padding: 3px;
    font-size: 15px;
    background-color: #141d26;
    color: white;
}
.ind_widget ::placeholder{
    color: white;
}
.close_widget{
    display: inline;
    float: right;
}
.response_div{
    padding-top: 5%;
}
.response_div input{
    padding: 5px;
    margin: 3%;
    font-size: 15px;
}
.resp_input input{
    background-color: #141d26;
    color: white;
}
.security_div{
    width: 75%;
    float: left;
    margin-top: 3%;
    font-size: 20px;
}
.security_div button{
    margin-left: 4%;
    font-size: 15px;
    padding: 5px;
    background-color: lightgreen;
}
.security_div select,option{
    font-size: 15px;
    padding: 5px;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
}
.security_div input[type=checkbox]{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    height: 20px;
    width: 20px;
}
.auth_div{
    padding-left: 4%;
    margin-top: 1%;
    margin-bottom: 3%;
}
.auth_div td{
    text-align:right;
}
.perm_div{
    margin-left: 5%;
    padding-top: 6%;
    font-size: 20px;
}
.perm_div input{
    padding: 5px;
    font-size: 15px;
    margin-left: 3.4%;
    margin-top: 2%;
}
.perm_div button{
    padding: 5px;
    font-size: 15px;
    background-color: lightgreen;
    margin-left: 2%;
}
.perm_list_div{
    margin-top: 3%;
}

